.starColor_RED {
  background-color: darkred;
  color: white;
}
.starColor_BLUE {
  background-color: darkblue;
  color: white;
}

.starColor_GREEN {
  background-color: darkblue;
  color: white;
}

.starColor_YELLOW {
  background-color: yellow;
  color: black;
}

.starColor_BLACK {
  background-color: black;
  color: white;
}